<h1>To do List</h1>



<input type="text" id="add-todo">













<!-- 

<p>All of the todos:</p>

    <% @todos.each do |todo| %>

    <ul>
        <li>Title: <%= todo.text %></li>
        <li>Note: <%= todo.notes %></li>
        <li>Completed? <%= todo.completed %></li>
        <li>Created: <%= todo.created_at %></li>
    </ul>

    <%= link_to 'View Note', todo_path(todo) %>
    <%= link_to 'Edit Note', edit_todo_path(todo) %>
    <%= link_to 'Destroy Note', todo, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>


<div id="bodybit"></div>

<form id="add-todo">
<p>
    <label for="todo-text">Text</label>
    <input type="text" id="todo-text">
</p>

<p>
    <label for="todo-notes">Text</label>
    <textarea id="todo-notes"></textarea>
</p>

<p>
    <input checked type="checkbox" id="todo-completed">
    <label for="todo-completed">Done?</label>
</p>

<p>
    <input type="submit" value="Add Todo">
</p>

</form>





<br><br><%= link_to 'New Note', new_todo_path %> -->



